---
import "../styles/global.css";
import Meta from "../components/Meta.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<Meta />
		<title>Pockemons API</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;

		font-family: Raleway, sans-serif;
		font-weight: 600;

		background: #131313;
		color: white;

		display: flex;
		justify-content: center;
		align-items:center;
	}

	@media screen and (min-width: 800px) {
		html,
		body {
			height: 100vh;
		}
	}
</style>
